<head>
	<link rel="stylesheet" type="text/css" href="../static/view1.css">
</head>

	<div ng-controller= "statesController">
		<div id="content" class="col-md-10 col-md-offset-9" class="active">
			<div style="margin-right: 400px">
				<h1 class="text-warning"><b><i>Rain Rain Soybean<i><b></h1>
				<div style="margin-left:60px; margin-top:10px; display: inline-block">
					<input style="display: inline-block;" class="btn btn-warning" value ="Click to Begin" ng-click="enterUser()">
				</div>
			</div>
		</div>
	</div>

